* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(234, 234, 234);
    padding: 0;
  }


.nav-link p{
  background-color: #004e5f;
  color: #ffffff;
  height: 30px;
  line-height: 30px;
  width: 150px;
  display: inline-block;
  text-decoration: none;
  margin-left: 5px;
  text-align: center;
  border-radius: 5px;
  transition: all 0.5s;
}

.active p{
  background-color: #01343f;
}
